<div id="search-component">
  <label for="search-box">Hero Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result" *ngIf="user">
    <li>
      <a routerLink="/detail/{{user.id}}">
        {{user.first_name}}
      </a>
    </li>
  </ul>
</div>
