<div *ngIf="user">
  <button type="button" (click)="goBack()">go back</button>
  <h2>{{user.first_name | uppercase}} Details</h2>
  <div class="dashboard-wrapper dashboard-user-profile">
    <div class="media row">
      <div class="col-3 pull-left text-center" href="#!">
        <img class="media-object user-img" src="{{user.avatar}}" alt="Image">
      </div>
      <div class="col-9 media-body">
        <ul class="user-profile-list">
          <li><span>Id:</span>{{user.id}}</li>
          <li><span>Full Name:</span>{{user.first_name}} {{user.last_name}}</li>
          <li><span>Email:</span>{{user.email}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
