

<div class="row">
  <div class="col-8 offset-2">
    <app-hero-search></app-hero-search>
  </div>
</div>

<a *ngFor="let user of users"
    routerLink="/detail/{{user.id}}">
  <div class="col-8 offset-2">
    <div class="dashboard-wrapper dashboard-user-profile">
      <div class="media row">
        <div class="col-3 pull-left text-center" href="#!">
          <img class="media-object user-img" src="{{user.avatar}}" alt="Image">
        </div>
        <div class="col-9 media-body">
          <ul class="user-profile-list">
            <li><span>Full Name:</span>{{user.first_name}} {{user.last_name}}</li>
            <li><span>Email:</span>{{user.email}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</a>

<div class="col-8 offset-2">
  <ngb-pagination
  [collectionSize]="total"
  [(page)]="page"
  [pageSize]="pageSize"
  (pageChange)="pageChanged($event)"
  aria-label="Default pagination"></ngb-pagination>
</div>


