/* Global Styles */
/** {*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/
/*h1 {*/
/*  color: #264D73;*/
/*  font-size: 2.5rem;*/
/*}*/
/*h2, h3 {*/
/*  color: #444;*/
/*  font-weight: lighter;*/
/*}*/
/*h3 {*/
/*  font-size: 1.3rem;*/
/*}*/
/*body {*/
/*  padding: .5rem;*/
/*  max-width: 1000px;*/
/*  margin: auto;*/
/*}*/
/*@media (min-width: 600px) {*/
/*  body {*/
/*    padding: 2rem;*/
/*  }*/
/*}*/
/*body, input[text] {*/
/*  color: #333;*/
/*  font-family: Cambria, Georgia, serif;*/
/*}*/
/*a {*/
/*  cursor: pointer;*/
/*}*/
/*button {*/
/*  background-color: #eee;*/
/*  border: none;*/
/*  border-radius: 4px;*/
/*  cursor: pointer;*/
/*  color: black;*/
/*  font-size: 1.2rem;*/
/*  padding: 1rem;*/
/*  margin-right: 1rem;*/
/*  margin-bottom: 1rem;*/
/*  margin-top: 1rem;*/
/*}*/
/*button:hover {*/
/*  background-color: black;*/
/*  color: white;*/
/*}*/
/*button:disabled {*/
/*  background-color: #eee;*/
/*  color: #aaa;*/
/*  cursor: auto;*/
/*}*/

/*!* Navigation link styles *!*/
/*nav a {*/
/*  padding: 5px 10px;*/
/*  text-decoration: none;*/
/*  margin-right: 10px;*/
/*  margin-top: 10px;*/
/*  display: inline-block;*/
/*  background-color: #e8e8e8;*/
/*  color: #3d3d3d;*/
/*  border-radius: 4px;*/
/*}*/

/*nav a:hover {*/
/*  color: white;*/
/*  background-color:  #42545C;*/
/*}*/
/*nav a.active {*/
/*  background-color: black;*/
/*  color: white;*/
/*}*/
/*hr {*/
/*  margin: 1.5rem 0;*/
/*}*/
/*input[type="text"] {*/
/*  box-sizing: border-box;*/
/*  width: 100%;*/
/*  padding: .5rem;*/
/*}*/





body{
  line-height:1.5;
  font-family:Poppins,sans-serif;
  -webkit-font-smoothing:antialiased
}
p{
  font-family:Poppins,sans-serif;
  color:#757575;
  font-size:15px
}
h1,h2,h3,h4,h5,h6{
  font-family:Poppins,sans-serif
}
h1,h2,h3,h4,h5,h6{
  font-weight:400
}
ol,ul{
  margin:0;
  padding:0;
  list-style:none
}
a,a:focus,a:hover{
  text-decoration:none;
  outline:0;
  color:#000
}
.navbar-toggle .icon-bar{
  background:#000
}
input[type=email],input[type=password],input[type=tel],input[type=text]{
  border-radius:0;
  box-shadow:none;
  height:45px;
  outline:0;
  font-weight:200;
  font-size:12px
}
input[type=email]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=text]:focus{
  box-shadow:none;
  border:1px solid #000
}
.form-control{
  box-shadow:none;
  border-radius:0
}
.form-control:focus{
  box-shadow:none;
  border:1px solid #000
}
.btn-main,.btn-small,.btn-solid-border,.btn-transparent{
  background:#000;
  color:#fff;
  display:inline-block;
  font-size:11px;
  letter-spacing:1px;
  padding:14px 35px;
  text-transform:uppercase;
  font-weight:200;
  border-radius:0
}
.btn-icon.btn-small i,.btn-icon.btn-solid-border i,.btn-icon.btn-transparent i,.btn-main.btn-icon i{
  font-size:16px;
  vertical-align:middle;
  margin-right:5px
}
.btn-main:hover,.btn-small:hover,.btn-solid-border:hover,.btn-transparent:hover{
  background:#000;
  color:#fff
}
.btn-solid-border{
  border:1px solid #000;
  background:#fff;
  color:#000
}
.btn-transparent{
  background:0 0;
  padding:0;
  color:#000
}
.btn-transparent:hover{
  background:0 0;
  color:#000
}
.btn-small{
  padding:8px 25px;
  font-size:10px
}
.btn.active:focus,.btn:active:focus,.btn:focus{
  outline:0
}
.mt-10{
  margin-top:20px
}
.mt-20{
  margin-top:20px
}
.mt-30{
  margin-top:30px
}
.mt-40{
  margin-top:40px
}
.mt-50{
  margin-top:50px
}
.btn:focus{
  color:#ddd
}
.w-100{
  width:100%
}
.section{
  padding:80px 0
}
.title{
  padding:20px 0 30px
}
.title h2{
  font-size:18px;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:2px
}
.page-header{
  background:#f5f5f5;
  margin-top:20px;
  border-bottom:none;
  padding:30px 0
}
.page-header h1{
  font-weight:200;
  margin:0 0 6px 0
}
.page-header .breadcrumb{
  background:0 0;
  padding:5px;
  margin:0
}
.page-header .breadcrumb li{
  font-weight:200;
  font-size:12px
}
.page-header .breadcrumb li a{
  color:#000
}
.page-wrapper{
  padding:70px 0
}
.dropdown-slide{
  position:static
}
.dropdown-slide.full-width .dropdown-menu{
  left:0!important;
  right:0!important
}
.dropdown-slide:hover .dropdown-menu{
  display:none;
  opacity:1;
  display:block;
  -webkit-transform:translate(0,0);
  transform:translate(0,0);
  opacity:1;
  visibility:visible;
  color:#777;
  -webkit-transform:translateY(0);
  transform:translateY(0)
}
.dropdown-slide .dropdown-menu{
  border-radius:0;
  opacity:1;
  visibility:visible;
  position:absolute;
  padding:15px;
  border:1px solid #ebebeb;
  box-shadow:0 2px 4px rgba(0,0,0,.05);
  transition:.3s all;
  position:absolute;
  display:block;
  visibility:hidden;
  opacity:0;
  -webkit-transform:translateY(30px);
  transform:translateY(30px);
  transition:visibility .2s,opacity .2s,-webkit-transform .5s cubic-bezier(.43,.26,.11,.99);
  transition:visibility .2s,opacity .2s,transform .5s cubic-bezier(.43,.26,.11,.99);
  transition:visibility .2s,opacity .2s,transform .5s cubic-bezier(.43,.26,.11,.99),-webkit-transform .5s cubic-bezier(.43,.26,.11,.99)
}
@media (max-width:480px){
  .dropdown-slide .dropdown-menu{
    -webkit-transform:none;
    transform:none
  }
}
.commonSelect{
  margin-left:10px;
  padding-right:6px;
  position:relative
}
.commonSelect:before{
  content:'\f3d0';
  font-family:themefisher-font;
  position:absolute;
  right:-4px;
  top:4px;
  font-size:10px
}
.commonSelect select{
  -webkit-appearance:none;
  -moz-appearance:none;
  cursor:pointer;
  border:none;
  padding:0;
  height:auto;
  color:#555
}
.commonSelect select:focus{
  box-shadow:none;
  border:none
}
.single-page-header{
  padding:140px 0 70px;
  text-align:center;
  color:#fff;
  position:relative
}
.top-header .container{
  padding-top:35px;
  padding-bottom:35px;
  border-bottom:1px solid #dedede
}
.top-header .dropdown-menu{
  left:auto;
  right:0;
  max-width:300px
}
@media (max-width:480px){
  .top-header .dropdown-menu{
    right:0;
    left:0;
    max-width:100%
  }
}
.top-header .contact-number{
  font-size:12px;
  color:#333
}
@media (max-width:480px){
  .top-header .contact-number{
    text-align:center
  }
}
@media (max-width:768px){
  .top-header .contact-number{
    text-align:center;
    padding:10px 0
  }
}
.top-header .contact-number i{
  margin-right:4px;
  font-size:18px;
  vertical-align:middle
}
@media (max-width:768px){
  .top-header .top-menu{
    text-align:center;
    padding:10px 0
  }
}
.top-header .top-menu>li>a{
  color:#333;
  font-size:15px;
  padding:0 8px
}
.top-header .top-menu>li>a:focus,.top-header .top-menu>li>a:hover{
  background:0 0
}
.top-header .top-menu>li>a i{
  font-size:16px;
  margin-right:2px;
  vertical-align:middle
}
@media (max-width:480px){
  .top-header .logo{
    padding:10px
  }
}
@media (max-width:768px){
  .top-header .logo{
    padding:10px
  }
}
.top-header .logo a{
  display:inline-block
}
.cart-dropdown .media{
  position:relative;
  border-bottom:1px solid #dedede;
  padding-bottom:15px
}
.cart-dropdown .media .pull-left{
  padding-right:15px
}
.cart-dropdown img{
  width:60px
}
.cart-dropdown h4{
  color:#000;
  font-weight:300;
  font-size:14px
}
.cart-dropdown .cart-price{
  color:#7f7f7f;
  font-size:12px;
  font-weight:200
}
.cart-dropdown .remove{
  padding:1px 6px;
  position:absolute;
  right:0;
  top:0;
  background-color:#f7f8f9;
  color:#7f7f7f;
  font-size:12px
}
.cart-buttons{
  margin-top:20px
}
.cart-buttons li{
  display:inline-block;
  width:49%
}
.cart-buttons li a{
  display:block
}
.cart-summary{
  margin-top:10px;
  font-weight:500;
  color:#000;
  font-size:14px
}
.cart-summary .total-price{
  float:right
}
.navigation{
  margin-bottom:0;
  padding:10px 0
}
.navigation .menu-title{
  display:none;
  font-size:16px
}
@media (max-width:480px){
  .navigation .menu-title{
    display:inline-block;
    padding-left:10px
  }
}
@media (max-width:768px){
  .navigation .menu-title{
    display:inline-block;
    padding-left:10px
  }
}
.navigation .navbar-nav>li{
  position:static
}
.navigation .navbar-nav>li.active a{
  color:#000
}
.navigation .navbar-nav>li>a{
  color:#333;
  font-size:14px;
  padding:20px 15px;
  text-transform:uppercase;
  transition:.2s ease-in-out 0s;
  border:1px solid transparent
}
.navigation .navbar-nav>li>a:active,.navigation .navbar-nav>li>a:focus,.navigation .navbar-nav>li>a:hover{
  background:0 0;
  color:#000
}
.navigation .container{
  position:relative
}
.navigation .navbar-nav{
  float:none;
  display:inline-block
}
.navigation .dropdown-slide .dropdown-menu{
  right:auto;
  left:auto;
  border:none
}
.navigation .dropdown-slide .dropdown-menu li a{
  color:#222;
  font-size:12px;
  border:1px solid transparent;
  display:block;
  padding:8px 16px;
  letter-spacing:.5px;
  text-transform:uppercase;
  transition:.3s all
}
.navigation .dropdown-slide .dropdown-menu li a:hover{
  background-color:#000;
  color:#fff
}
.product-item{
  margin-bottom:30px
}
.product-item .product-content{
  text-align:center
}
.product-item .product-content h4{
  font-size:16px;
  font-weight:400;
  margin-top:15px;
  margin-bottom:6px
}
.product-item .product-content h4 a{
  color:#000
}
.single-product{
  padding:60px 0 40px
}
.single-product .breadcrumb{
  background:0 0
}
.single-product .breadcrumb li{
  color:#000;
  font-weight:200
}
.single-product .breadcrumb li a{
  color:#000;
  font-weight:200
}
.single-product-details .product-size{
  margin-top:20px;
  display:flex;
  align-items:center
}
.single-product-details .product-size span{
  width:100px;
  color:#000;
  font-size:13px;
  font-weight:600;
  display:inline-block
}
.single-product-details .product-size .form-control{
  display:inline-block;
  width:130px;
  letter-spacing:2px;
  text-transform:uppercase;
  color:#000;
  font-size:12px;
  border:1px solid #e5e5e5;
  border-radius:0;
  box-shadow:none
}
.dashboard-menu .active{
  background:#000;
  color:#fff;
  border:1px solid #000
}
.dashboard-menu li{
  padding:0;
  margin:0 3px
}
.dashboard-menu li a{
  padding:10px 20px;
  border:1px solid #dedede;
  display:inline-block
}
@media (max-width:768px){
  .dashboard-menu li a{
    padding:10px 15px
  }
}
@media (max-width:480px){
  .dashboard-menu li a{
    padding:10px 5px
  }
}
@media (max-width:400px){
  .dashboard-menu li a{
    padding:10px 8px;
    font-size:12px;
    margin-bottom:6px
  }
}
.dashboard-wrapper{
  border:1px solid #dedede;
  margin-top:30px;
  padding:20px
}
.dashboard-wrapper h2{
  font-size:18px
}
.dashboard-wrapper h4{
  font-size:16px
}
.dashboard-wrapper .user-img{
  width:120px;
  border-radius:100px
}
.dashboard-user-profile .user-img{
  width:180px
}
.dashboard-user-profile .user-profile-list{
  margin-top:30px;
  padding-left:30px
}
.dashboard-user-profile .user-profile-list li{
  margin-bottom:8px
}
.dashboard-user-profile .user-profile-list span{
  font-weight:700;
  margin-right:5px;
  width:100px;
  display:inline-block
}
.blog{
  background:#f6f6f6
}
.post{
  background:#fff;
  margin-bottom:40px;
  border-bottom:1px solid #dedede;
  padding-bottom:20px
}
.post .post-title{
  font-size:20px;
  margin-top:10px;
  margin:25px 0 0;
  padding:0 20px 5px;
  font-weight:300
}
.post .post-title a{
  color:#000
}
.post .post-title a:hover{
  color:#000
}
.post .post-meta{
  font-size:13px;
  margin-top:5px;
  padding:0 20px 5px
}
.post .post-meta ul li{
  display:inline-block;
  color:#5f5b5b;
  margin-right:20px;
  font-size:12px;
  letter-spacing:1px;
  font-weight:200
}
.post .post-meta ul li a{
  color:#5f5b5b
}
.post .post-meta ul li a:hover{
  color:#000
}
.post .post-meta .post-author{
  color:#000
}
.post .post-content{
  padding:5px 20px
}
.post .post-content p{
  color:#444;
  font-size:14px;
  margin:10px 0
}
.post .post-content .btn-main,.post .post-content .btn-small,.post .post-content .btn-solid-border,.post .post-content .btn-transparent{
  padding:10px 20px;
  margin:15px 0;
  font-size:10px
}
.post.post-single{
  border:none
}
.single-blog{
  background-color:#fff;
  margin-bottom:50px;
  padding:20px
}
.social-profile ul li{
  margin:0 10px 0 0;
  display:inline-block
}
.social-profile ul li a{
  color:#4e595f;
  display:block;
  font-size:16px
}
.social-profile ul li a i:hover{
  color:#000
}
.author-about{
  margin-top:40px
}
.post-author{
  margin-right:20px
}
.post-author>img{
  border:1px solid #dedede;
  max-width:120px;
  padding:5px;
  width:100%
}
.coming-soon{
  color:#fff;
  padding:150px 0
}
.checkout-form .form-group{
  position:relative;
  margin-bottom:8px
}
.checkout-form .form-group input{
  border-radius:0;
  display:block;
  padding:6px 10px 5px 100px;
  -moz-appearance:none;
  -webkit-appearance:none;
  height:50px
}
.product-checkout-details .summary-total{
  margin-top:5px
}
.product-checkout-details .summary-total>span{
  font-weight:500;
  font-size:18px
}
.product-checkout-details .summary-total span+span{
  float:right
}
.page-404{
  padding:100px 0;
  text-align:center
}
.page-404 h1{
  font-size:300px;
  font-weight:700;
  line-height:300px;
  margin-top:30px
}
@media (max-width:480px){
  .page-404 h1{
    font-size:130px;
    line-height:150px
  }
}
@media (max-width:400px){
  .page-404 h1{
    font-size:100px;
    line-height:100px
  }
}
@media (max-width:768px){
  .page-404 h1{
    font-size:150px;
    line-height:200px
  }
}
.page-404 h2{
  text-transform:uppercase;
  font-size:20px;
  letter-spacing:4px;
  font-weight:700;
  margin-top:30px
}
.page-404 .copyright-text{
  margin-top:50px;
  font-size:12px
}
.page-404 .btn-main,.page-404 .btn-small,.page-404 .btn-solid-border,.page-404 .btn-transparent{
  margin-top:40px
}
.contact-us{
  padding:100px 0
}
.contact-form{
  margin-bottom:40px
}
.contact-form .form-control{
  background-color:transparent;
  border:1px solid #dedede;
  box-shadow:none;
  height:45px!important;
  color:#0c0c0c;
  height:38px;
  font-family:'Open Sans',sans-serif;
  font-size:14px;
  border-radius:0
}
.contact-form input:hover{
  border-color:#000
}
.social-icon{
  margin-top:20px
}
.social-icon ul li{
  display:inline-block;
  margin-right:10px
}
@media (max-width:400px){
  .social-icon ul li{
    margin-bottom:5px;
    margin-right:5px
  }
}
.social-icon ul li a{
  display:block;
  height:50px;
  width:50px;
  border-radius:50%;
  border:1px solid #000;
  text-align:center
}
.social-icon ul li a:hover{
  background:#000;
  color:#fff;
  border:1px solid #000
}
.social-icon ul li a:hover i{
  color:#fff
}
.social-icon ul li a i{
  color:#000;
  display:inline-block;
  font-size:20px;
  line-height:50px;
  margin:0
}
.footer{
  background:#f7f7f7;
  padding:50px 0
}
.footer .footer-menu{
  margin-top:30px
}
.footer .footer-menu li{
  display:inline-block;
  margin:0 10px
}
.footer .footer-menu li a{
  color:#333;
  font-size:12px
}
.footer .copyright-text{
  margin-top:20px
}
.copyright-text a{
  color:#000
}
.social-media li{
  display:inline-block;
  margin:0 5px
}
.social-media li a{
  padding:8px 10px
}
.social-media li a i{
  font-size:20px;
  color:#555
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
